main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

h6.feat {
  font-weight: bold;
}

.table-responsive {
  max-height: 600px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
